.panel-content {
  background: tan;
  margin-top: 10px;
  overflow: hidden;
}
.panel-content.collapsed {
  transition: max-height 2s cubic-bezier(0, 1, 0, 1);
  max-height: 0;
}
.panel-content.expanded {
  max-height: 999px;
  transition: max-height 2s;
}
